@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại password thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
   Bạn đã thay đổi password thành công , bấm <a asp-page="./Login">vào đây</a> để đăng nhập.
</p>
